<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.corretto.board.dao.BoardMapper">

    <insert id="insert" parameterType="ArticleDto">
        INSERT INTO article (board_id, title, content, created_datetime) VALUES (#{board_id}, #{title}, #{content}, #{created_datetime})
    </insert>

    <select id="selectId" parameterType="ArticleDto" resultType="Integer">
        SELECT id FROM article WHERE board_id = #{board_id} and title = #{title} and content = #{content}
    </select>

    <insert id="attachmentInsert" parameterType="AttachmentDto">
        INSERT INTO attachment (article_id, location, created_datetime) VALUES (LAST_INSERT_ID(), #{location}, #{created_datetime})
    </insert>
    
    <delete id="deleteArticleAll">
        DELETE FROM article
    </delete>

    <delete id="deleteAttachmentAll">
        DELETE FROM attachment
    </delete>
</mapper>